[submodule "farol_addons/dsor_utils"]
	path = farol_addons/dsor_utils
	url = https://github.com/dsor-isr/dsor_utils.git
[submodule "3rd_party/dmac"]
	path = 3rd_party/dmac
	url = https://github.com/dsor-isr/dmac.git
[submodule "3rd_party/nmea_msgs"]
	path = 3rd_party/nmea_msgs
	url = https://github.com/ros-drivers/nmea_msgs

[submodule "3rd_party/auv_msgs"]
	path = 3rd_party/auv_msgs
	url = git@github.com:dsor-isr/auv_msgs.git
