<?xml version="1.0"?>
<launch>

  <arg name="simulation"    default="false" /> 
  <arg name="filter"  				  default="false" />
  <arg name="outer_loop"  			default="false" />
  <arg name="trajectory_tracking"       default="false" /> 
  <arg name="docking_helper"    default="false" /> 

  <group ns="docking">
    
    <rosparam if="$(arg simulation)"
            command="load" file="$(find farol_docking)/config/docking_sim.yaml"/>
    
    <rosparam unless="$(arg simulation)"
            command="load" file="$(find farol_docking)/config/docking_real.yaml"/>


	  <group if="$(arg filter)">
      <node pkg="farol_docking" type="docking_filter" name="filter" respawn="false" output="screen"/>
    </group>

    <group if="$(arg outer_loop)">
      <node pkg="farol_docking" type="outer_loop" name="outer_loop" respawn="false" output="screen"/>
    </group>

    <group if="$(arg trajectory_tracking)">
      <node pkg="farol_docking" type="trajectory_tracking" name="trajectory_tracking" respawn="false" output="screen"/>
    </group>

    <group if="$(arg docking_helper)">
      <node pkg="farol_docking" type="docking_helper.py" name="docking_helper" respawn="false" output="screen"/>
    </group>

  </group>

</launch>
