<?xml version="1.0"?>
<launch>

  <arg name="filter"  				  default="false" />
  <arg name="controller"  			default="false" />
  <arg name="docking_helper"    default="false" /> 

  <group ns="docking">
    
    <rosparam command="load" file="$(find farol_docking)/config/docking_config.yaml"/>

	  <group if="$(arg filter)">
      <node pkg="farol_docking" type="docking_filter" name="filter" respawn="false" output="screen"/>
    </group>

    <group if="$(arg controller)">
      <node pkg="farol_docking" type="docking_controller" name="controller" respawn="false" output="screen"/>
    </group>

    <group if="$(arg docking_helper)">
      <node pkg="farol_docking" type="docking_helper.py" name="docking_helper" respawn="false" output="screen"/>
    </group>

  </group>

</launch>
